body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

form {
  display: inline-block;
}

input[id=title] {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  margin-top: 10px;

  font-size: 20px;

  width: 220px;
  height: 30px;

  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid black;
}

textarea {
  font-family: 'Montserrat', sans-serif;
  resize: none;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  margin-top: 10px;

  font-size: 17px;

  width: 220px;
  height: 220px;

  background-color: transparent;
  border: 1px solid black;
  border-radius: 3px;
}

button[id=create] {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  margin-top: 10px;

  font-size: 20px;

  width: 220px;
  height: 30px;

  background-color: transparent;
  border: 1px solid black;
  border-radius: 3px;
}

button[id=create]:hover {
  color: green;
}

/*

  Tasks

*/

button[id=task] {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  text-align: right;
  font-size: 20px;

  margin-top: 10px;

  width: 220px;
  height: 30px;

  background-color: transparent;
  border: 1px solid black;
  border-radius: 3px;
}